filter-component{
    margin: 2%;
    
}

a {
    text-decoration: none;
  }

#filter-categories-titles {
    font-size: 17px;
    display: flex;
    margin-inline-end: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#filter-container section {
    height: 450px ;
    justify-content: center;
    align-items: center;

}

#filter-categories-titles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}

#filter-container{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-component {
    display: block;
    margin-top: 5%;
    margin-left: 3%;
}

#text-car-information {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    

}
#text-car-information p{
    font-weight: lighter;
    color: aliceblue;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
}


#text-car-information h2{
    margin-top: 10px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 1px;
}

.filter{
    display: flex;
    width: 350px;
    height: 450px;
    background-color: #4D515A;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.filter:hover{
    transform: scale(1.01);
    cursor: pointer;
}

#car-image{
    width: 100%;
    height: 100%; 
}
